@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;800&family=Righteous&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  color: #fff;
  min-height: 100vh;
  
  background:  url('./assets/bg.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed; 
  
  box-shadow: inset 0 0 0 1000px rgba(13, 2, 33, 0.85); 
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #0d0221;
}
::-webkit-scrollbar-thumb {
  background: linear-gradient(#ff00cc, #3333ff);
  border-radius: 4px;
}

a { text-decoration: none; color: inherit; }